DATABASE_URL=
SUBTITLE_API_URL=
OPENAI_API_KEY=
OPENAI_BASE_URL=https://yunwu.ai/v1
OPENAI_MODEL=gemini-3.1-pro-preview
IMAGE_OPENAI_MODEL=gpt-image-1.5
CRON_EXPR=0 * * * *
RUN_NOW=1
BATCH_SIZE=1
AI_CALL_INTERVAL=1
COOKIES_FROM_BROWSER=firefox